
@{
    ViewBag.Title = "Boot";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Boot</h2>
<button type="button" class="btn btn-primary" >Reeeeeeeeeeeeeady</button>
        
