@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <meta name="description" content="The description of my page" />
    <style>
    </style>
</head>
<body>
    <div class="text-center" style="min-height:820px">
        @ViewBag.Greeting World (from the view)
        <h2>We're going to have an exciting patry.</h2>
        @if (ViewBag.Condition)
        {
            <div class="button green">
                @Html.ActionLink("RSVP Now", "RsvpForm")
            </div>
        } 
        else 
        {
            <div class="button green">
                @Html.ActionLink("GoGgo", "Go")
            </div>
            
           
        }

        @foreach (var tag in Model)
        {
            <div class="my_tag">
                @tag
            </div>
        }
        <button type="button" class="btn btn-primary btn-lg" >Primary button </button>
        <a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a>
    </div>
    <div class="footer">
        Input
    </div>
</body>
</html>
