@model PartyInvites.Models.GuestRespone

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Thanks</title>
</head>
<body>
    <div class="text-center"> 
        <h1> Thank you, @Model.Name</h1>

        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @:It's great that you're coming. The drinks ara already in the fridge!
            }
            else
            {
                @:Sorry to hear that you can't make it, but thank for letting use know.
            }
        </div>
    </div>
</body>
</html>
