@{
    //ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("SignUp", "SignUp", "SignUp", null, new { @class = "btn  btn btn-primary" })
@Html.ActionLink("LogIn", "Index", "LogIn", null, new { @class = "btn  btn btn-primary" })

