@{
    //ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("SignUp", "SignUp", "SignUp")
@Html.ActionLink("LogIn", "Index", "LogIn")

<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
