@model HabrLessonClassLibrary.Domain.User
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="input-group">
            <label class="control-label" for="Email">
                Email
            </label>
            
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "om nom nom" })
           @* <input type="text" class="form-control" placeholder="Username">*@
        </div>
        <div class="control-group">
            <label class="control-label" for="Password">
                Password
            </label>
            <div class="controls">
                @Html.PasswordFor(x => x.Password)
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Login
            </button>
        </div>
    </fieldset>
}