body {

}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display:none
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight:bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.button {
	display: inline-block;
	background-color: #d7dcde;
	font-size: 16px;
	color: white;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	margin: 0;
	border: 0;
}




.button:hover {
	text-decoration: none;
}

.button.green {
	background-color: #4abfb4;
}

.button.green:hover {
	background-color: #70cbc4;
}

.button.wide {
    width: 100%;
}

.footer {
    height: 56px;
    background: #d8dde6;
    position: relative;
    z-index: 2;
}

.my_tag {
    margin-top: 14px;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 5px;
    margin-right: 8px;
    border: 2px solid #e4e4e4;
    font-family: "PT Sans", Verdana, Arial, sans-serif;
}